body{
    margin:0;
    background:white;
    color:#3E5066;
    font-family:'Inter',sans-serif;
    line-height:1.8;
}

header{
    text-align:center;
    padding-top:40px;
}

.logo img{
    width:360px;
    max-width:90%;
}

.hero{
    width:85%;
    max-width:1400px;
    margin:auto;
    margin-top:50px;

    display:flex;
    align-items:center;
    gap:80px;
}

.left{
    flex:1;
}

.right{
    flex:1;
}

.right img{
    width:100%;
}

h1{
    font-family:'Playfair Display',serif;
    font-size:58px;
    font-weight:700;
    line-height:1.2;
    margin-bottom:30px;
}

.intro{
    font-size:19px;
}

h2{
    color:#95C13D;
    margin-top:40px;
}

ul{
    list-style:none;
    padding-left:0;
}

li{
    margin-bottom:18px;
    font-size:18px;
}

.about{
    width:70%;
    max-width:1000px;
    margin:auto;
    margin-top:100px;
    text-align:center;
}

.contact{
    margin-top:40px;
}

.contact a{
    color:#3E5066;
    text-decoration:none;
}

.contact a:hover{
    color:#95C13D;
}

footer{
    background:#f7f7f7;
    text-align:center;
    margin-top:100px;
    padding:40px;
    color:#888;
}

@media(max-width:900px){

.hero{
    flex-direction:column;
}

h1{
    font-size:44px;
}

.about{
    width:90%;
}

}